// Global styling for this theme

html {
  height: 100%;
}

a {
  color: $secondary;
}

body {
  background: $primary;
  height: 100%;
  min-height: 100%;
  position: relative;
  @include body-font;
}

.full-height {
  max-width: 100vw;
  min-height: 100vh;
  padding-top: $social-margin;
  position: absolute;
  top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

h1 {
  font-size: 1.75rem;
}

input {
  vertical-align: top;
}

@media (min-width: 992px) {
  .logo-col {
    margin-top: -$social-margin;
  }
}